<script>
  const roomID = <%= @room.id %>
  $(document).ready(function() {
    setTimeout(function () {
      App.host.host(parseInt(roomID));
    }, 1000);
  })

</script>

<h1>Rooms#host</h1>
<p>Find me in app/views/rooms/host.html.erb</p>
