<style>
    main {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    main > * {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>

<main>
    <div id='player-column-1'>
    </div>
    <div id='main-display'>
        <div id='info-display'>
        </div>
        <div id='question-display'>
            <h2>Waiting for question...</h2>
        </div>
        <div id='update-display'>
            <div>
                <h3>Current Events</h3>
                <ul>
                </ul>
            </div>
        </div>
    </div>
    <div id='player-column-2'>
    </div>
</main>

<script>
    $(document).ready(function() {
        const roomID = <%= @room.id %>;
        setTimeout(function () {
            App.host.host(parseInt(roomID));
        }, 1000);

        <% if @room.players.any? %>
            <% @room.players.each_with_index do |p, i| %>
                addDashboardPlayerPortrait(
                    new Player(
                    <%= p.id %>,
                    '<%= p.name %>',
                    0
                    ),
                    <%= i %>
                )
            <% end %>
        <% end %>

        sendUpdate('Started Lobby!');
    });
</script>
