<h1>Rooms#join</h1>
<form class="" action="/join" method="post">
  <input type="text" name="player[room_id]" value="">
  <input type="text" name="player[name]" value="">
  <button type="submit" name="button">GO</button>
</form>
