<h1>Rooms#new</h1>
<p>Find me in app/views/rooms/new.html.erb</p>
<form class="" action="/rooms" method="post">
  <button type="submit" name="button">HOST</button>
</form>
<form class="" action="/rooms/join" method="get">
  <button type="submit" name="button">JOIN</button>
</form>
