#banner {
    height: 15%;
    font-size: 5.5vh;
    text-shadow: -0.5vh 0.25vh black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
#banner h1 {
    margin-top: -1vh;
    margin-bottom: 1vh;
}
#banner span {display: inline-block;}
#banner h1 span:nth-child(1) {transform: rotateZ(-21deg) translateY(3vh) translateX(-1.5vw);}
#banner h1 span:nth-child(2) {transform: rotateZ(-14deg) translateY(2vh) translateX(-1vw);}
#banner h1 span:nth-child(3) {transform: rotateZ(-7deg) translateY(1vh) translateX(-0.5vw);}
#banner h1 span:nth-child(4) {transform: rotateZ(-2deg) translateY(0.5vh);}
#banner h1 span:nth-child(5) {transform: rotateZ(2deg) translateY(0.25vh);}
#banner h1 span:nth-child(6) {transform: rotateZ(7deg) translateY(1vh) translateX(0.5vw);}
#banner h1 span:nth-child(7) {transform: rotateZ(14deg) translateY(2vh) translateX(1vw);}
#banner h1 span:nth-child(8) {transform: rotateZ(21deg) translateY(3vh) translateX(1.5vw);}
.a {
    color: #B14AED;
}
.b {
    color: #D38B5D;
}

#room-number, #waiting {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 5vh;
}
#waiting {
    font-style: italic;
}

#player-column-1, #player-column-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 10;
}


.player-portrait:nth-of-type(odd) div {
    transform: rotateZ(5deg);
}
.player-portrait:nth-of-type(even) div {
    transform: rotateZ(-5deg);
}

.player-portrait {
    z-index: 5;
    height: 18vh;
    width:  18vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spinUp {
    0% { transform: rotateZ(-180deg) scale(0); }
    100% { transform: rotateZ(360deg) scale(1); }
}
.spin-up {
    animation: 350ms spinUp linear 1;
}

@keyframes wiggle {
    0%, 100% {transform: rotateZ(-8deg);}
    50% {transform: rotateZ(8deg);}
}
.wiggle {
    animation: 25s wiggle linear infinite;
}

@keyframes jitter {
    0%, 100% {transform: rotateZ(-2deg) scale(0.6);}
    50% {transform: rotateZ(2deg) scale(0.6);}
}
.jitter {
    animation: 200ms jitter linear infinite;
}

.player-portrait div {
    width: 90%;
    height: 90%;
    height: auto;
    background-color: white;
    border: 3px solid black;
    padding: 1vh 1vh;
}
.player-portrait img {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    padding: 0.5vh;
    border: 0.2vh solid black;
}
.player-portrait h2 {
    font-size: 4vh;
}

.player-portrait p {
    font-size: 3vh;
    font-weight:bold;
}


#question-display {
    height: 75%;
    width: 100%;
    padding: 5vh 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.q-slide {
    text-align: center;
    animation: 1.75s slideBy linear 1;
    font-size: 4vh;
    z-index: 1;
    font-family: 'Fresca', sans-serif;
}
@keyframes slideBy {
    0% {transform: translateX(50vw); opacity: 0;}
    10% {transform: translateX(10vw); opacity: 1;}
    90% {transform: translateX(-10vw); opacity: 1;}
    100% {transform: translateX(-50vw); opacity: 0;}
}

#question, #answer {
    align-self: center;
    text-align: center;
    font-size: 5vh;
    transform: rotateZ(-4deg);
    z-index: 100;
    font-family: 'Fresca', sans-serif;
}
.q-smack {
    animation: 400ms smack linear 1;
}
@keyframes smack {
    0% {transform: scale(5) rotateZ(-1deg);}
    50% {transform: scale(1) rotateZ(-2deg);}
    75% {transform: scale(1.25) rotateZ(-3deg);}
    100% {transform: scale(1) rotateZ(-4deg);}
}

.q-hover {
    animation: 3s hover linear infinite;
}
@keyframes hover {
    0%, 100% {transform: scale(1) rotateZ(-4deg);}
    50% {transform: scale(1.1) rotateZ(-4deg);}
}

.q-flick {
    animation: 600ms flick linear 1;
}
@keyframes flick {
    from {transform: translateX(0vw) translateY(0vh)rotateZ(-4deg);}
    to {transform: translateX(-75vw) translateY(-75vh)rotateZ(-80deg);}
}

.a-swirl {
    animation: 4s swirl linear infinite;
}
@keyframes swirl {
    0%, 100% {
        transform: rotateZ(-600deg) scale(0);
    }
    10%, 90% {
        transform: rotateZ(-4deg) scale(1);
    }
}

#final {
    width: 100%;
    height: 100%;
    display: none;
    padding: 2vh 2vw;
}
#winners {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1vh 10vw;
    grid-gap: 2vh;
    height: 50%;
}
#winners > * {
    margin: 2vh 2vw;
    animation: 2.5s wiggle linear infinite;
}


#you-win {
    margin: 0 auto;
    width: 50vw;
    font-size: 10vh;
    text-align: center;

    animation: 2.5s textBounce linear infinite;
}
@keyframes textBounce {
    0%, 100% {transform: scale(1)}
    50% {transform: scale(1.25);}
}
