#banner {
    height: 15%;
    font-size: 5.5vh;
    text-shadow: -0.5vh 0.25vh black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
#banner h1 {
    margin-top: -1vh;
    margin-bottom: 1vh;
}
#banner span {display: inline-block;}
#banner h1 span:nth-child(1) {transform: rotateZ(-21deg) translateY(3vh) translateX(-1.5vw);}
#banner h1 span:nth-child(2) {transform: rotateZ(-14deg) translateY(2vh) translateX(-1vw);}
#banner h1 span:nth-child(3) {transform: rotateZ(-7deg) translateY(1vh) translateX(-0.5vw);}
#banner h1 span:nth-child(4) {transform: rotateZ(-2deg) translateY(0.5vh);}
#banner h1 span:nth-child(5) {transform: rotateZ(2deg) translateY(0.25vh);}
#banner h1 span:nth-child(6) {transform: rotateZ(7deg) translateY(1vh) translateX(0.5vw);}
#banner h1 span:nth-child(7) {transform: rotateZ(14deg) translateY(2vh) translateX(1vw);}
#banner h1 span:nth-child(8) {transform: rotateZ(21deg) translateY(3vh) translateX(1.5vw);}
.a {
    color: #B14AED;
}
.b {
    color: #D38B5D;
}

#question-display {
    height: 75%;
    width: 100%;
    background-color: green;
    overflow: auto;
}

#player-column-1, #player-column-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.player-portrait:nth-of-type(odd) div {
    transform: rotateZ(5deg);
}
.player-portrait:nth-of-type(even) div {
    transform: rotateY(-5deg);
}


.player-portrait {
    height: 20vh;
    width:  20vh;
    text-align: center;
    /* background-color: rgba(173, 216, 230, 0.8); */
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spinUp {
    0% { transform: rotateZ(-180deg) scale(0); }
    100% { transform: rotateZ(360deg) scale(1); }
}
.spin-up {
    animation: 350ms spinUp linear 1;
}
@keyframes wiggle {
    0%, 100% {transform: rotateZ(-8deg);}
    50% {transform: rotateZ(8deg);}
}
.wiggle {
    animation: 25s wiggle linear infinite;
}


.player-portrait div {
    width: 90%;
    height: 90%;
    height: auto;
    background-color: white;
    border: 3px solid black;
}

.player-portrait h2 {
    font-size:4vh;
}

.player-portrait p {
    font-size:3vh;
    font-weight:bold;
}
