#player-header {
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    font-size: 100%;
    margin-bottom: 5vh;
}
#player-header h1 {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
    overflow: hidden;
}
#input-options {
    display: flex;
    flex-direction: column;
}
.radio-button {
    margin: 1vh;
}
.radio-button p {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
    border-radius: 10vh;

    border: 5px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
.radio-button input:checked + .option-text {
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    animation: 1s selected linear infinite;
}
@keyframes selected {
    0%, 50%, 100% {
        box-shadow: 0 0 6px 6px black;
        transform: rotateZ(0deg)
    }
    25% {
        box-shadow: 0 0 3px 3px black;
        transform: rotateZ(-1.5deg);
    }
    75% {
        box-shadow: 0 0 3px 3px black;
        transform: rotateZ(1.5deg);
    }
}

.radio-button input {
    display: none;
}

#question-form button {
    height: 20vh;
    width: 20vh;
    font-size: 10vh;
    background-color: rgb(240, 40, 40);
    color: white;
    text-shadow: -3px -3px black, -3px 3px black, 3px -3px black, 3px 3px black;
    padding: 1vh;
    border-radius: 50%;
    position: absolute;
    bottom: 5vh;
    left: calc(50vw - 11vh);
    border: 5px solid white;
    box-shadow: 0 0 1px 5px black;
}
#waiting {
    display: flex;
    align-items: center;
    justify-content: center;
}
#waiting h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    padding: 1.5rem;
    border-radius: 100vh;
    font-size: 6vh;
    justify-content: center;
    align-items: center;
}

/* #dot1, #dot2, #dot3 { opacity: 0; animation: 1500ms blink linear infinite;}
#dot1 {
    animation-delay: 500ms;
}
#dot2 {
    animation-delay: 1000ms;
}
#dot3{
    animation-delay: 1500ms;
}
@keyframes blink {
    0%  {opacity: 1;}
    50% {opacity: 1;}
    51% {opacity: 0;}
    100% {opacity: 0;}
} */
