#player-header {
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    font-size: 100%;
    margin-bottom: 5vh;
}
#player-header h1 {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
    overflow: hidden;
}
#input-options {
    display: flex;
    flex-direction: column;
}
.answer-go {
    margin: 1vh;
}
.answer-go {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
    border-radius: 10vh;

    border: 4px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

/* .radio-button input:checked + .option-text {
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    animation: 1s selected linear infinite;
}
@keyframes selected {
    0%, 50%, 100% {
        box-shadow: 0 0 6px 6px black;
        transform: rotateZ(0deg)
    }
    25% {
        box-shadow: 0 0 3px 3px black;
        transform: rotateZ(-1.5deg);
    }
    75% {
        box-shadow: 0 0 3px 3px black;
        transform: rotateZ(1.5deg);
    }
}

.radio-button input {
    display: none;
}

#go {
    height: 20vh;
    width: 20vh;
    font-size: 10vh;
    background-color: rgb(240, 40, 40);
    color: white;
    text-shadow: -3px -3px black, -3px 3px black, 3px -3px black, 3px 3px black;
    padding: 1vh;
    border-radius: 50%;
    position: absolute;
    bottom: 5vh;
    left: calc(50vw - 11vh);
    border: 5px solid white;
    box-shadow: 0 0 1px 5px black;
} */




#start-game {
    position: absolute;
    top: 45vh;
    left: 10vw;
    height: 15vh;
    width: 80vw;
    font-size: 5vh;
    line-height: 5vh;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5vh;
    border-bottom: 1rem solid #2b2b2b;
    box-sizing: content-box;
}
#start-game:hover, #start-game:active {
    border-bottom: 0.5rem solid #2b2b2b;
    margin-top: 0.5rem;
}

#start-game p {
    font-weight: bold;
    background-size: 300% auto;
    background-position: left;
    animation: prettyText 2s linear infinite;
    color: transparent;
    -webkit-background-clip: text;
}

@keyframes prettyText {
    to {background-position: right;}
}
